mixin EcomFooter
  .row.py-md-9.justify-content-between.gy-4
    .col-12.col-lg-4
        +Logo.mb-3
        p.text-700.mb-1.fw-semi-bold.lh-sm.fs--1 Phoenix is an admin dashboard template with fascinating features and amazing layout. The template is responsive to all major browsers and is compatible with all available devices and screen sizes.

    .col-6.col-md-auto
      h5.fw-bolder.mb-3 About Phoenix
      .d-flex.flex-column
        a.text-700.fw-semi-bold.fs--1.mb-1(href="#!") Careers
        a.text-700.fw-semi-bold.fs--1.mb-1(href="#!") Affiliate Program
        a.text-700.fw-semi-bold.fs--1.mb-1(href="#!") Privacy Policy
        a.text-700.fw-semi-bold.fs--1.mb-1(href="#!") Terms & Conditions

    .col-6.col-md-auto
      h5.fw-bolder.mb-3 Stay Connected
      .d-flex.flex-column
        a.text-700.fw-semi-bold.fs--1.mb-1(href="#!") Blogs
        a.mb-1.fw-semi-bold.fs--1(href="#!")
          span.fab.fa-facebook-square.text-800.me-2.fs-0
          span.text-800 Facebook
        a.mb-1.fw-semi-bold.fs--1(href="#!")
          span.fab.fa-twitter-square.text-800.me-2.fs-0
          span.text-800 Twitter

    .col-6.col-md-auto
      h5.fw-bolder.mb-3 Customer Service
      .d-flex.flex-column
        a.text-700.fw-semi-bold.fs--1.mb-1(href="#!") Help Desk
        a.text-700.fw-semi-bold.fs--1.mb-1(href="#!") Support, 24/7
        a.text-700.fw-semi-bold.fs--1.mb-1(href="#!") Community of Phoenix

    .col-6.col-md-auto
      h5.fw-bolder.mb-3 Payment Method
      .d-flex.flex-column
        a.text-700.fw-semi-bold.fs--1.mb-1(href="#!") Cash on Delivery
        a.text-700.fw-semi-bold.fs--1.mb-1(href="#!") Online Payment
        a.text-700.fw-semi-bold.fs--1.mb-1(href="#!") PayPal
        a.text-700.fw-semi-bold.fs--1.mb-1(href="#!") Installment