mixin Faq
	+Section('container-small').pt-9.pt-sm-14
		.row.flex-center
			.col-12.col-xl-7
				h2.text-center.mb-6.mb-sm-10 Frequently asked questions
				.accordion
					.accordion-item.border-top.border-200
						h2#headingOne.accordion-header
							button.accordion-button.fs-1.pb-3(type='button', data-bs-toggle='collapse', data-bs-target='#collapseOne', aria-expanded='false', aria-controls='collapseOne')
								| What about the update procedure of the theme?
						#collapseOne.accordion-collapse.collapse.show(aria-labelledby='headingOne', data-bs-parent='#accordionExample')
							.accordion-body.pt-0
								| This is our newest admin dashboard. We'll keep updating it according to users' needs. We keep a changelog with every release, so you'll be able to update the theme from one version to another with that changelog.
					.accordion-item
						h2#headingTwo.accordion-header
							button.accordion-button.fs-1.pb-3.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseTwo', aria-expanded='true', aria-controls='collapseOne')
								| Is there any Trial version of Phoenix?
						#collapseTwo.accordion-collapse.collapse(aria-labelledby='headingTwo', data-bs-parent='#accordionExample')
							.accordion-body.pt-0
								| We are sorry to inform you that there is no free or trial version of Phoenix, but you would get a full refund within 10 days if the template does not match your requirement.
					.accordion-item
						h2#headingThree.accordion-header
							button.accordion-button.fs-1.pb-3.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseThree', aria-expanded='false', aria-controls='collapseOne')
								| Is it possible to build a mobile app using Phoenix components?
						#collapseThree.accordion-collapse.collapse(aria-labelledby='headingThree', data-bs-parent='#accordionExample')
							.accordion-body.pt-0
								| Phoenix is made out of HTML, CSS, and JS. You can not use Phoenix as a "Native" component library for an android or iOS app. But if you use a web-view for your app or use a framework that uses HTML, CSS, and JS for mobile app UI​, yes, you can use Phoenix in that case.
					.accordion-item
						h2#headingFour.accordion-header
							button.accordion-button.fs-1.pb-3.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseFour', aria-expanded='false', aria-controls='collapseOne')
								| Can I use #{name} with Django?
						#collapseFour.accordion-collapse.collapse(aria-labelledby='headingFour', data-bs-parent='#accordionExample')
							.accordion-body.pt-0
								| Many of our customers are using Phoenix with Django. Using Phoenix is like using Bootstrap with Django, just with some extra features.For a starter, you need to take all the CSS and JS files from Phoenix's "public/assets" folder to your project and link them to your view files. You can find all the required scripts and styles on the source of the starter page.
								|	It is also possible to compile the SCSS and use the ES6 JavaScript partial files with Django using Phoenix's built-in gulp based workflow.
					.accordion-item
						h2#headingFive.accordion-header
							button.accordion-button.fs-1.pb-3.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#collapseFive', aria-expanded='false', aria-controls='collapseOne')
								| Does #{name} incorporate properly with Laravel?
						#collapseFive.accordion-collapse.collapse(aria-labelledby='headingFive', data-bs-parent='#accordionExample')
							.accordion-body.pt-0
								| Many of our customers are using Phoenix with Laravel. Using Phoenix is like using Bootstrap with Laravel, just with some extra features.For a starter, you need to take all the CSS and JS files from Phoenix's "public/assets" folder to your project and link them to your view files. You can find all the required scripts and styles on the source of the starter page.
								| It is also possible to compile the SCSS and use the ES6 JavaScript partial files with Laravel using Phoenix's built-in gulp based workflow.

