mixin FeatureFigma
	section.py-12.position-relative.overflow-hidden.bg-100
		.grd.bg-gradient-figma
		img.feature-figma-img(src=`${CWD}assets/img/bg/figma.png`, alt="")
		.container-small.position-relative
			.row.px-4
				.col-12.d-flex.justify-content-center.flex-between-center.mb-3
					img.me-3(src=`${CWD}assets/img/icons/figma.png` alt="")
					h1.text-white Figma design files
				p.text-center.mb-0.text-white Modern &amp; highly customizable, simple and user-friendly UI components 🎨 based on Bootstrap design system only for you!
