mixin Feature 
	section.overflow-hidden.py-0(style='background: linear-gradient(94.41deg, #193D91 -6.4%, #091F51 105.25%);')
		.bg-holder(class='opacity-50', style={'background-image': `url(${CWD}assets/img/bg/26.png);background-position:14%;background-size: contain; height:150%`} data-gsap-parallax!={y:'-40%'})
		.container-small.position-relative.py-8
			.row.align-items-center.gx-xxl-13
				.col-lg-6.mb-6.z-index-1
					img.mw-100(src=`${CWD}assets/img/sections/63.webp` alt="")
				.col-lg-6
					h1.text-soft.fw-normal.mb-4.text-center.text-lg-start Coded for
						br.d-none.d-lg-block.d-xl-none
						span.text-primary-300.ms-2.fw-bolder any screen size
							img.mb-2.ms-2(src=`${CWD}assets/img/icons/thumbs-up.png` alt="")
					p.text-200.text-center.text-lg-start Built with all top-notch technologies, this admin dashboard is fully responsive, and the clean codebase helps it to stay intact without breaking down the layout around any device or screen size or web browser.
					