mixin Header 
	section.py-0
		+Background({image: `${CWD}assets/img/bg/bg-24.png`, attrs: { style: { 'background-position': 'center', 'background-size': 'auto',} } })
		.container-lg.position-relative
			.row.flex-center
				.col-12.col-sm-9.col-xl-7.px-4.px-xxl-6.text-center.pt-10
					h1.display-3.fw-bolder.lh-sm.text-1000.mb-4 Multiple Demos for You
					p.mb-10 6 predefined layout options to cater the modern web application needs. The Flexible layout with easily customizable and ready-to-use UI components to help you design modern web apps faster.