extends ../index

append variables
  - var disableNavigationType = true;
  //- - var disableVerticalNavbarAppearance = true;
  - var disableHorizontalNavbarShape = true;


block navbarTop
  +NavbarComboSlim({
      toggleID: 'navbarVerticalCollapse',
      links: false,
      search: true
    }).navbar-expand-lg(style='display:none')
  script.
    var navbarTopShape = window.config.config.phoenixNavbarTopShape
    var navbarPosition = window.config.config.phoenixNavbarPosition;
    var body = document.querySelector('body');
    var navbarDefault = document.querySelector('#navbarDefault');
    var navbarTop = document.querySelector('#navbarTop');
    var navbarSlim = document.querySelector('#navbarSlim');
    var navbarTopSlimNew = document.querySelector('#navbarTopSlimNew');
    var navbarCombo = document.querySelector('#navbarCombo');
    var navbarComboSlim = document.querySelector('#navbarComboSlim');
    var navbarTopSlimNew = document.querySelector('#navbarTopSlimNew');
    var documentElement = 	document.documentElement;
    var navbarVertical = document.querySelector('.navbar-vertical');
    
    navbarComboSlim.removeAttribute('style');
    navbarVertical.removeAttribute('style');
    body.classList.add('nav-slim');
    document.documentElement.classList.add('navbar-combo')