extends ../index



append variables
  - var disableNavigationType = true;
  - var disableVerticalNavbarAppearance = true;
  - var disableHorizontalNavbarShape = true;

append headScripts
  script.
    document.documentElement.classList.add('navbar-horizontal');

block navbarTop
  +NavbarTop({
      toggleID: 'navbarTopCollapse',
      links: false,
      search: true
    }).navbar-expand-lg(style='display:none')
  script.
    var navbarVertical = document.querySelector('.navbar-vertical');
    navbarVertical.remove();
    navbarTop.removeAttribute('style');
