extends ../index

append headScripts
  script.
    window.config.set({
      phoenixIsNavbarVerticalCollapsed: false
    });
    document.documentElement.classList.remove('navbar-vertical-collapsed');