extends ../../layouts/LayoutEmail
include ../../mixins/email/EmailDetails


append variables
	- var attrsContent = { class: 'pt-0' };

prepend scripts
	script(src=`${CWD}vendors/tinymce/tinymce.min.js`)
	
block pageContent
	.col-3.d-none.d-xxl-block
		.scrollbar.email-content
			.px-lg-1
				+InboxToolbar
				each email,index in emails
					+EmailRow(email,index === emails.length - 1)
	.col
		.card.email-content
			.card-body
				form.d-flex.flex-column.h-100
					.row.g-3.mb-2
						.col-4
							input.form-control(type='email', placeholder='To')
						.col-4
							input.form-control(type='email', placeholder='CC')
						.col-4
							input.form-control(type='email', placeholder='BCC')
						.col-12
							input.form-control(type='text', placeholder='Subject')
					.mb-3.flex-1
						textarea.tinymce.email-textarea(name='content' data-tinymce!={height:'100%'})
					.d-flex.justify-content-between.align-items-center
						div
							label.btn.btn-link.py-0.px-2.text-900.fs--1(for="emailAttachment") 
								span.fa-solid.fa-paperclip
							input#emailAttachment.d-none(type="file")
							label.btn.btn-link.py-0.px-2.text-900.fs--1(for='emailPhotos')
								span.fa-solid.fa-image
							input#emailPhotos.d-none(type="file" accept='image/*')
						div
							button.btn.btn-link.text-900.fs--2.text-decoration-none Discard
							button.btn.btn-primary.fs--2(type='submit') Send
								span.fa-solid.fa-paper-plane.ms-1
						