extends ../../layouts/LayoutEmail
include ../../mixins/email/EmailDetails


append variables
	- var attrsContent = { class: 'pt-0' };
	- var showComposeBtn = true;


block pageContent
	.col-3.d-none.d-xxl-block
		.email-content.scrollbar
			.px-lg-1
				+InboxToolbar
				each email,index in emails
					+EmailRow(email,index === emails.length - 1)
	.col
		.card.email-content
			.card-body.overflow-hidden
				+EmailDetails