extends ../layouts/LayoutTheme

block content
  .d-flex.flex-center.content-min-h
    .text-center.py-9
      img.img-fluid.mb-7.d-dark-none(src=`${CWD}assets/img/spot-illustrations/2.png` width=470 alt="")
      img.img-fluid.mb-7.d-light-none(src=`${CWD}assets/img/spot-illustrations/dark_2.png` width=470 alt="")
      h1.text-800.fw-normal.mb-5 Create Something Beautiful.
      a.btn.btn-lg.btn-primary(href=`${CWD}${paths['getting-started']}`) Getting Started

