mixin InvoiceDetails
  .bg-soft.dark__bg-1100.p-4.mb-4.rounded-2
    .row.g-4
      .col-12.col-lg-3
        .row.g-4.g-lg-2
          .col-12.col-sm-6.col-lg-12
            .row.align-items-center.g-0
              .col-auto.col-lg-6.col-xl-5
                h6.mb-0.me-3 Invoice No :
              .col-auto.col-lg-6.col-xl-7
                p.fs--1.text-800.fw-semi-bold.mb-0 #FLR978282
          .col-12.col-sm-6.col-lg-12
            .row.align-items-center.g-0
              .col-auto.col-lg-6.col-xl-5
                h6.me-3 Invoice Date :
              .col-auto.col-lg-6.col-xl-7
                p.fs--1.text-800.fw-semi-bold.mb-0 19.06.2019
      .col-12.col-sm-6.col-lg-5
        .row.g-4.gy-lg-5
          .col-12.col-lg-8
            h6.mb-2.me-3 Sold by :
            p.fs--1.text-800.fw-semi-bold.mb-0 PhoenixMart
              br
              | 36 greendowm road, California, Usa
          .col-12.col-lg-4
            h6.mb-2  PAN No :
            p.fs--1.text-800.fw-semi-bold.mb-0 XVCJ963782008
          .col-12.col-lg-4
            h6.mb-2  GST Reg No :
            p.fs--1.text-800.fw-semi-bold.mb-0 IX9878123TC
          .col-12.col-lg-4
            h6.mb-2  Order No :
            p.fs--1.text-800.fw-semi-bold.mb-0 A-8934792734
          .col-12.col-lg-4
            h6.mb-2  Order Date :
            p.fs--1.text-800.fw-semi-bold.mb-0 19.06.2019

      .col-12.col-sm-6.col-lg-4
        .row.g-4
          .col-12.col-lg-6
            h6.mb-2  Billing Address :
            .fs--1.text-800.fw-semi-bold.mb-0 
              p.mb-2 John Doe,
              p.mb-2 36, Gree Donwtonwn,
                br
                | Golden road, FL,
              p.mb-2 johndoe@jeemail.com
              p.mb-0 +334933029030
          .col-12.col-lg-6
            h6.mb-2  Shipping Address :
            .fs--1.text-800.fw-semi-bold.mb-0 
              p.mb-2 John Doe,
              p.mb-2 36, Gree Donwtonwn,
                br
                | Golden road, FL,
              p.mb-2 johndoe@jeemail.com
              p.mb-0 +334933029030