extends ../../layouts/LayoutComponent
include ../../mixins/icons/IconCards

append variables
  -
    var pageHeader = {
      title: 'Unicons',
      description: 'Simply beautiful open source icons',
      url: `https://iconscout.com/unicons/explore/line`,
      linkText: 'Unicons Documentation',
    }
  -
    var icons = [
      "uil-0-plus",
      "uil-10-plus",
      "uil-12-plus",
      "uil-13-plus",
      "uil-16-plus",
      "uil-17-plus",
      "uil-18-plus",
      "uil-21-plus",
      "uil-3-plus",
      "uil-500px",
      "uil-6-plus",
      "uil-abacus",
      "uil-accessible-icon-alt",
      "uil-adjust",
      "uil-adjust-alt",
      "uil-adjust-circle",
      "uil-adjust-half",
      "uil-adobe",
      "uil-adobe-alt",
      "uil-airplay",
      "uil-align",
      "uil-align-alt",
      "uil-align-center",
      "uil-align-center-alt",
      "uil-align-center-h",
      "uil-align-center-justify",
      "uil-align-center-v",
      "uil-align-justify",
      "uil-align-left",
      "uil-align-left-justify",
      "uil-align-letter-right",
      "uil-align-right",
      "uil-align-right-justify",
      "uil-amazon",
      "uil-ambulance",
      "uil-analysis",
      "uil-analytics",
      "uil-anchor",
      "uil-android",
      "uil-android-alt",
      "uil-android-phone-slash",
      "uil-angle-double-down",
      "uil-angle-double-left",
      "uil-angle-double-right",
      "uil-angle-double-up",
      "uil-angle-down",
      "uil-angle-left",
      "uil-angle-left-b",
      "uil-angle-right",
      "uil-angle-right-b",
      "uil-angle-up",
      "uil-angry",
      "uil-ankh",
      "uil-annoyed",
      "uil-annoyed-alt",
      "uil-apple",
      "uil-apple-alt",
      "uil-apps",
      "uil-archive",
      "uil-archive-alt",
      "uil-archway",
      "uil-arrow",
      "uil-arrow-break",
      "uil-arrow-circle-down",
      "uil-arrow-circle-left",
      "uil-arrow-circle-right",
      "uil-arrow-circle-up",
      "uil-arrow-compress-h",
      "uil-arrow-down",
      "uil-arrow-down-left",
      "uil-arrow-down-right",
      "uil-arrow-from-right",
      "uil-arrow-from-top",
      "uil-arrow-growth",
      "uil-arrow-left",
      "uil-arrow-random",
      "uil-arrow-resize-diagonal",
      "uil-arrow-right",
      "uil-arrow-to-bottom",
      "uil-arrow-to-right",
      "uil-arrow-up",
      "uil-arrow-up-left",
      "uil-arrow-up-right",
      "uil-arrows-h",
      "uil-arrows-h-alt",
      "uil-arrows-left-down",
      "uil-arrows-maximize",
      "uil-arrows-merge",
      "uil-arrows-resize",
      "uil-arrows-resize-h",
      "uil-arrows-resize-v",
      "uil-arrows-right-down",
      "uil-arrows-shrink-h",
      "uil-arrows-shrink-v",
      "uil-arrows-up-right",
      "uil-arrows-v",
      "uil-arrows-v-alt",
      "uil-assistive-listening-systems",
      "uil-asterisk",
      "uil-at",
      "uil-atom",
      "uil-auto-flash",
      "uil-award",
      "uil-award-alt",
      "uil-baby-carriage",
      "uil-backpack",
      "uil-backspace",
      "uil-backward",
      "uil-bag",
      "uil-bag-alt",
      "uil-bag-slash",
      "uil-balance-scale",
      "uil-ban",
      "uil-band-aid",
      "uil-bars",
      "uil-baseball-ball",
      "uil-basketball",
      "uil-basketball-hoop",
      "uil-bath",
      "uil-battery-bolt",
      "uil-battery-empty",
      "uil-bed",
      "uil-bed-double",
      "uil-behance",
      "uil-behance-alt",
      "uil-bell",
      "uil-bell-school",
      "uil-bell-slash",
      "uil-bill",
      "uil-bing",
      "uil-bitcoin",
      "uil-bitcoin-alt",
      "uil-bitcoin-circle",
      "uil-bitcoin-sign",
      "uil-black-berry",
      "uil-blogger",
      "uil-blogger-alt",
      "uil-bluetooth-b",
      "uil-bold",
      "uil-bolt",
      "uil-bolt-alt",
      "uil-bolt-slash",
      "uil-book",
      "uil-book-alt",
      "uil-book-medical",
      "uil-book-open",
      "uil-book-reader",
      "uil-bookmark",
      "uil-bookmark-full",
      "uil-books",
      "uil-boombox",
      "uil-border-alt",
      "uil-border-bottom",
      "uil-border-clear",
      "uil-border-horizontal",
      "uil-border-inner",
      "uil-border-left",
      "uil-border-out",
      "uil-border-right",
      "uil-border-top",
      "uil-border-vertical",
      "uil-bowling-ball",
      "uil-box",
      "uil-brackets-curly",
      "uil-brain",
      "uil-briefcase",
      "uil-briefcase-alt",
      "uil-bright",
      "uil-brightness",
      "uil-brightness-empty",
      "uil-brightness-half",
      "uil-brightness-low",
      "uil-brightness-minus",
      "uil-brightness-plus",
      "uil-bring-bottom",
      "uil-bring-front",
      "uil-browser",
      "uil-brush-alt",
      "uil-bug",
      "uil-building",
      "uil-bullseye",
      "uil-bus",
      "uil-bus-alt",
      "uil-bus-school",
      "uil-calculator",
      "uil-calculator-alt",
      "uil-calendar-alt",
      "uil-calendar-slash",
      "uil-calender",
      "uil-calling",
      "uil-camera",
      "uil-camera-change",
      "uil-camera-plus",
      "uil-camera-slash",
      "uil-cancel",
      "uil-capsule",
      "uil-capture",
      "uil-car",
      "uil-car-sideview",
      "uil-car-slash",
      "uil-car-wash",
      "uil-card-atm",
      "uil-caret-right",
      "uil-cell",
      "uil-celsius",
      "uil-channel",
      "uil-channel-add",
      "uil-chart",
      "uil-chart-bar",
      "uil-chart-bar-alt",
      "uil-chart-down",
      "uil-chart-growth",
      "uil-chart-growth-alt",
      "uil-chart-line",
      "uil-chart-pie",
      "uil-chart-pie-alt",
      "uil-chat",
      "uil-chat-bubble-user",
      "uil-chat-info",
      "uil-check",
      "uil-check-circle",
      "uil-check-square",
      "uil-circle",
      "uil-circle-layer",
      "uil-circuit",
      "uil-clapper-board",
      "uil-clinic-medical",
      "uil-clipboard",
      "uil-clipboard-alt",
      "uil-clipboard-blank",
      "uil-clipboard-notes",
      "uil-clock",
      "uil-clock-eight",
      "uil-clock-five",
      "uil-clock-nine",
      "uil-clock-seven",
      "uil-clock-ten",
      "uil-clock-three",
      "uil-clock-two",
      "uil-closed-captioning",
      "uil-closed-captioning-slash",
      "uil-cloud",
      "uil-cloud-block",
      "uil-cloud-bookmark",
      "uil-cloud-check",
      "uil-cloud-computing",
      "uil-cloud-data-connection",
      "uil-cloud-database-tree",
      "uil-cloud-download",
      "uil-cloud-drizzle",
      "uil-cloud-exclamation",
      "uil-cloud-hail",
      "uil-cloud-heart",
      "uil-cloud-info",
      "uil-cloud-lock",
      "uil-cloud-meatball",
      "uil-cloud-moon",
      "uil-cloud-moon-hail",
      "uil-cloud-moon-meatball",
      "uil-cloud-moon-rain",
      "uil-cloud-moon-showers",
      "uil-cloud-question",
      "uil-cloud-rain",
      "uil-cloud-rain-sun",
      "uil-cloud-redo",
      "uil-cloud-share",
      "uil-cloud-shield",
      "uil-cloud-showers",
      "uil-cloud-showers-alt",
      "uil-cloud-showers-heavy",
      "uil-cloud-slash",
      "uil-cloud-sun",
      "uil-cloud-sun-hail",
      "uil-cloud-sun-meatball",
      "uil-cloud-sun-rain",
      "uil-cloud-sun-rain-alt",
      "uil-cloud-sun-tear",
      "uil-cloud-times",
      "uil-cloud-unlock",
      "uil-cloud-upload",
      "uil-cloud-wifi",
      "uil-cloud-wind",
      "uil-clouds",
      "uil-club",
      "uil-code-branch",
      "uil-coffee",
      "uil-cog",
      "uil-coins",
      "uil-columns",
      "uil-comment",
      "uil-comment-add",
      "uil-comment-alt",
      "uil-comment-alt-block",
      "uil-comment-alt-chart-lines",
      "uil-comment-alt-check",
      "uil-comment-alt-dots",
      "uil-comment-alt-download",
      "uil-comment-alt-edit",
      "uil-comment-alt-exclamation",
      "uil-comment-alt-heart",
      "uil-comment-alt-image",
      "uil-comment-alt-info",
      "uil-comment-alt-lines",
      "uil-comment-alt-lock",
      "uil-comment-alt-medical",
      "uil-comment-alt-message",
      "uil-comment-alt-notes",
      "uil-comment-alt-plus",
      "uil-comment-alt-question",
      "uil-comment-alt-redo",
      "uil-comment-alt-search",
      "uil-comment-alt-share",
      "uil-comment-alt-shield",
      "uil-comment-alt-slash",
      "uil-comment-alt-upload",
      "uil-comment-alt-verify",
      "uil-comment-block",
      "uil-comment-chart-line",
      "uil-comment-check",
      "uil-comment-dots",
      "uil-comment-download",
      "uil-comment-edit",
      "uil-comment-exclamation",
      "uil-comment-heart",
      "uil-comment-image",
      "uil-comment-info",
      "uil-comment-info-alt",
      "uil-comment-lines",
      "uil-comment-lock",
      "uil-comment-medical",
      "uil-comment-message",
      "uil-comment-notes",
      "uil-comment-plus",
      "uil-comment-question",
      "uil-comment-redo",
      "uil-comment-search",
      "uil-comment-share",
      "uil-comment-shield",
      "uil-comment-slash",
      "uil-comment-upload",
      "uil-comment-verify",
      "uil-comments",
      "uil-comments-alt",
      "uil-compact-disc",
      "uil-comparison",
      "uil-compass",
      "uil-compress",
      "uil-compress-alt",
      "uil-compress-alt-left",
      "uil-compress-arrows",
      "uil-compress-lines",
      "uil-compress-point",
      "uil-compress-v",
      "uil-confused",
      "uil-constructor",
      "uil-copy",
      "uil-copy-alt",
      "uil-copy-landscape",
      "uil-copyright",
      "uil-corner-down-left",
      "uil-corner-down-right",
      "uil-corner-down-right-alt",
      "uil-corner-left-down",
      "uil-corner-right-down",
      "uil-corner-up-left",
      "uil-corner-up-left-alt",
      "uil-corner-up-right",
      "uil-corner-up-right-alt",
      "uil-coronavirus",
      "uil-create-dashboard",
      "uil-creative-commons-pd",
      "uil-credit-card",
      "uil-credit-card-search",
      "uil-crockery",
      "uil-crop-alt",
      "uil-crop-alt-rotate-left",
      "uil-crop-alt-rotate-right",
      "uil-crosshair",
      "uil-crosshair-alt",
      "uil-crosshairs",
      "uil-css3-simple",
      "uil-cube",
      "uil-dashboard",
      "uil-data-sharing",
      "uil-database",
      "uil-database-alt",
      "uil-desert",
      "uil-desktop",
      "uil-desktop-alt",
      "uil-desktop-alt-slash",
      "uil-desktop-cloud-alt",
      "uil-desktop-slash",
      "uil-dialpad",
      "uil-dialpad-alt",
      "uil-diamond",
      "uil-diary",
      "uil-diary-alt",
      "uil-dice-five",
      "uil-dice-four",
      "uil-dice-one",
      "uil-dice-six",
      "uil-dice-three",
      "uil-dice-two",
      "uil-direction",
      "uil-directions",
      "uil-discord",
      "uil-dizzy-meh",
      "uil-dna",
      "uil-docker",
      "uil-document-info",
      "uil-document-layout-center",
      "uil-document-layout-left",
      "uil-document-layout-right",
      "uil-dollar-alt",
      "uil-dollar-sign",
      "uil-dollar-sign-alt",
      "uil-download-alt",
      "uil-draggabledots",
      "uil-dribbble",
      "uil-drill",
      "uil-dropbox",
      "uil-dumbbell",
      "uil-ear",
      "uil-edit",
      "uil-edit-alt",
      "uil-elipsis-double-v-alt",
      "uil-ellipsis-h",
      "uil-ellipsis-v",
      "uil-emoji",
      "uil-english-to-chinese",
      "uil-enter",
      "uil-envelope",
      "uil-envelope-add",
      "uil-envelope-alt",
      "uil-envelope-block",
      "uil-envelope-bookmark",
      "uil-envelope-check",
      "uil-envelope-download",
      "uil-envelope-download-alt",
      "uil-envelope-edit",
      "uil-envelope-exclamation",
      "uil-envelope-heart",
      "uil-envelope-info",
      "uil-envelope-lock",
      "uil-envelope-minus",
      "uil-envelope-open",
      "uil-envelope-question",
      "uil-envelope-receive",
      "uil-envelope-redo",
      "uil-envelope-search",
      "uil-envelope-send",
      "uil-envelope-share",
      "uil-envelope-shield",
      "uil-envelope-star",
      "uil-envelope-times",
      "uil-envelope-upload",
      "uil-envelope-upload-alt",
      "uil-envelopes",
      "uil-equal-circle",
      "uil-estate",
      "uil-euro",
      "uil-euro-circle",
      "uil-exchange",
      "uil-exchange-alt",
      "uil-exclamation",
      "uil-exclamation-circle",
      "uil-exclamation-octagon",
      "uil-exclamation-triangle",
      "uil-exclude",
      "uil-expand-alt",
      "uil-expand-arrows",
      "uil-expand-arrows-alt",
      "uil-expand-from-corner",
      "uil-expand-left",
      "uil-expand-right",
      "uil-export",
      "uil-exposure-alt",
      "uil-exposure-increase",
      "uil-external-link-alt",
      "uil-eye",
      "uil-eye-slash",
      "uil-facebook",
      "uil-facebook-f",
      "uil-facebook-messenger",
      "uil-facebook-messenger-alt",
      "uil-fahrenheit",
      "uil-fast-mail",
      "uil-fast-mail-alt",
      "uil-favorite",
      "uil-feedback",
      "uil-fidget-spinner",
      "uil-file",
      "uil-file-alt",
      "uil-file-blank",
      "uil-file-block-alt",
      "uil-file-bookmark-alt",
      "uil-file-check",
      "uil-file-check-alt",
      "uil-file-contract",
      "uil-file-contract-dollar",
      "uil-file-copy-alt",
      "uil-file-download",
      "uil-file-download-alt",
      "uil-file-edit-alt",
      "uil-file-exclamation",
      "uil-file-exclamation-alt",
      "uil-file-export",
      "uil-file-graph",
      "uil-file-heart",
      "uil-file-import",
      "uil-file-info-alt",
      "uil-file-landscape",
      "uil-file-landscape-alt",
      "uil-file-lanscape-slash",
      "uil-file-lock-alt",
      "uil-file-medical",
      "uil-file-medical-alt",
      "uil-file-minus",
      "uil-file-minus-alt",
      "uil-file-network",
      "uil-file-plus",
      "uil-file-plus-alt",
      "uil-file-question",
      "uil-file-question-alt",
      "uil-file-redo-alt",
      "uil-file-search-alt",
      "uil-file-share-alt",
      "uil-file-shield-alt",
      "uil-file-slash",
      "uil-file-times",
      "uil-file-times-alt",
      "uil-file-upload",
      "uil-file-upload-alt",
      "uil-files-landscapes",
      "uil-files-landscapes-alt",
      "uil-film",
      "uil-filter",
      "uil-filter-slash",
      "uil-fire",
      "uil-flask",
      "uil-flask-potion",
      "uil-flip-h",
      "uil-flip-h-alt",
      "uil-flip-v",
      "uil-flip-v-alt",
      "uil-flower",
      "uil-focus",
      "uil-focus-add",
      "uil-focus-target",
      "uil-folder",
      "uil-folder-check",
      "uil-folder-download",
      "uil-folder-exclamation",
      "uil-folder-heart",
      "uil-folder-info",
      "uil-folder-lock",
      "uil-folder-medical",
      "uil-folder-minus",
      "uil-folder-network",
      "uil-folder-open",
      "uil-folder-plus",
      "uil-folder-question",
      "uil-folder-slash",
      "uil-folder-times",
      "uil-folder-upload",
      "uil-font",
      "uil-football",
      "uil-football-american",
      "uil-football-ball",
      "uil-forecastcloud-moon-tear",
      "uil-forwaded-call",
      "uil-forward",
      "uil-frown",
      "uil-game-structure",
      "uil-gift",
      "uil-github",
      "uil-github-alt",
      "uil-gitlab",
      "uil-glass",
      "uil-glass-martini",
      "uil-glass-martini-alt",
      "uil-glass-martini-alt-slash",
      "uil-glass-tea",
      "uil-globe",
      "uil-gold",
      "uil-golf-ball",
      "uil-google",
      "uil-google-drive",
      "uil-google-drive-alt",
      "uil-google-hangouts",
      "uil-google-hangouts-alt",
      "uil-google-play",
      "uil-graduation-cap",
      "uil-graph-bar",
      "uil-grid",
      "uil-grids",
      "uil-grin",
      "uil-grin-tongue-wink",
      "uil-grin-tongue-wink-alt",
      "uil-grip-horizontal-line",
      "uil-hard-hat",
      "uil-hdd",
      "uil-head-side",
      "uil-head-side-cough",
      "uil-head-side-mask",
      "uil-headphone-slash",
      "uil-headphones",
      "uil-headphones-alt",
      "uil-heart",
      "uil-heart-alt",
      "uil-heart-break",
      "uil-heart-medical",
      "uil-heart-rate",
      "uil-heart-sign",
      "uil-heartbeat",
      "uil-hindi-to-chinese",
      "uil-hipchat",
      "uil-history",
      "uil-history-alt",
      "uil-home",
      "uil-horizontal-align-center",
      "uil-horizontal-align-left",
      "uil-horizontal-align-right",
      "uil-horizontal-distribution-center",
      "uil-horizontal-distribution-left",
      "uil-horizontal-distribution-right",
      "uil-hospital",
      "uil-hospital-square-sign",
      "uil-hospital-symbol",
      "uil-hourglass",
      "uil-house-user",
      "uil-html3",
      "uil-html3-alt",
      "uil-html5",
      "uil-html5-alt",
      "uil-hunting",
      "uil-icons",
      "uil-illustration",
      "uil-image",
      "uil-image-alt-slash",
      "uil-image-block",
      "uil-image-broken",
      "uil-image-check",
      "uil-image-download",
      "uil-image-edit",
      "uil-image-lock",
      "uil-image-minus",
      "uil-image-plus",
      "uil-image-question",
      "uil-image-redo",
      "uil-image-resize-landscape",
      "uil-image-resize-square",
      "uil-image-search",
      "uil-image-share",
      "uil-image-shield",
      "uil-image-slash",
      "uil-image-times",
      "uil-image-upload",
      "uil-image-v",
      "uil-images",
      "uil-import",
      "uil-inbox",
      "uil-incoming-call",
      "uil-info",
      "uil-info-circle",
      "uil-instagram",
      "uil-instagram-alt",
      "uil-intercom",
      "uil-intercom-alt",
      "uil-invoice",
      "uil-italic",
      "uil-jackhammer",
      "uil-java-script",
      "uil-kayak",
      "uil-key-skeleton",
      "uil-key-skeleton-alt",
      "uil-keyboard",
      "uil-keyboard-alt",
      "uil-keyboard-hide",
      "uil-keyboard-show",
      "uil-keyhole-circle",
      "uil-keyhole-square",
      "uil-keyhole-square-full",
      "uil-kid",
      "uil-label",
      "uil-label-alt",
      "uil-lamp",
      "uil-language",
      "uil-laptop",
      "uil-laptop-cloud",
      "uil-laptop-connection",
      "uil-laughing",
      "uil-layer-group",
      "uil-layer-group-slash",
      "uil-layers",
      "uil-layers-alt",
      "uil-layers-slash",
      "uil-left-arrow-from-left",
      "uil-left-arrow-to-left",
      "uil-left-indent",
      "uil-left-indent-alt",
      "uil-left-to-right-text-direction",
      "uil-letter-chinese-a",
      "uil-letter-english-a",
      "uil-letter-hindi-a",
      "uil-letter-japanese-a",
      "uil-life-ring",
      "uil-lightbulb",
      "uil-lightbulb-alt",
      "uil-line",
      "uil-line-alt",
      "uil-line-spacing",
      "uil-link",
      "uil-link-add",
      "uil-link-alt",
      "uil-link-broken",
      "uil-link-h",
      "uil-linkedin",
      "uil-linkedin-alt",
      "uil-linux",
      "uil-lira-sign",
      "uil-list-ol",
      "uil-list-ol-alt",
      "uil-list-ui-alt",
      "uil-list-ul",
      "uil-location-arrow",
      "uil-location-arrow-alt",
      "uil-location-pin-alt",
      "uil-location-point",
      "uil-lock",
      "uil-lock-access",
      "uil-lock-alt",
      "uil-lock-open-alt",
      "uil-lock-slash",
      "uil-lottiefiles",
      "uil-lottiefiles-alt",
      "uil-luggage-cart",
      "uil-mailbox",
      "uil-mailbox-alt",
      "uil-map",
      "uil-map-marker",
      "uil-map-marker-alt",
      "uil-map-marker-edit",
      "uil-map-marker-info",
      "uil-map-marker-minus",
      "uil-map-marker-plus",
      "uil-map-marker-question",
      "uil-map-marker-shield",
      "uil-map-marker-slash",
      "uil-map-pin",
      "uil-map-pin-alt",
      "uil-mars",
      "uil-master-card",
      "uil-maximize-left",
      "uil-medal",
      "uil-medical-drip",
      "uil-medical-square",
      "uil-medical-square-full",
      "uil-medium-m",
      "uil-medkit",
      "uil-meeting-board",
      "uil-megaphone",
      "uil-meh",
      "uil-meh-alt",
      "uil-meh-closed-eye",
      "uil-message",
      "uil-metro",
      "uil-microphone",
      "uil-microphone-slash",
      "uil-microscope",
      "uil-microsoft",
      "uil-minus",
      "uil-minus-circle",
      "uil-minus-path",
      "uil-minus-square",
      "uil-minus-square-full",
      "uil-missed-call",
      "uil-mobile-android",
      "uil-mobile-android-alt",
      "uil-mobile-vibrate",
      "uil-modem",
      "uil-money-bill",
      "uil-money-bill-slash",
      "uil-money-bill-stack",
      "uil-money-insert",
      "uil-money-stack",
      "uil-money-withdraw",
      "uil-money-withdrawal",
      "uil-moneybag",
      "uil-moneybag-alt",
      "uil-monitor",
      "uil-monitor-heart-rate",
      "uil-moon",
      "uil-moon-eclipse",
      "uil-moonset",
      "uil-mountains",
      "uil-mountains-sun",
      "uil-mouse",
      "uil-mouse-alt",
      "uil-mouse-alt-2",
      "uil-multiply",
      "uil-music",
      "uil-music-note",
      "uil-music-tune-slash",
      "uil-n-a",
      "uil-navigator",
      "uil-nerd",
      "uil-newspaper",
      "uil-ninja",
      "uil-no-entry",
      "uil-notebooks",
      "uil-notes",
      "uil-object-group",
      "uil-object-ungroup",
      "uil-octagon",
      "uil-okta",
      "uil-opera",
      "uil-opera-alt",
      "uil-outgoing-call",
      "uil-package",
      "uil-padlock",
      "uil-pagelines",
      "uil-pagerduty",
      "uil-paint-tool",
      "uil-palette",
      "uil-panel-add",
      "uil-panorama-h",
      "uil-panorama-h-alt",
      "uil-panorama-v",
      "uil-paperclip",
      "uil-paragraph",
      "uil-parcel",
      "uil-parking-circle",
      "uil-parking-square",
      "uil-pathfinder",
      "uil-pathfinder-unite",
      "uil-pause",
      "uil-pause-circle",
      "uil-paypal",
      "uil-pen",
      "uil-pentagon",
      "uil-percentage",
      "uil-phone",
      "uil-phone-alt",
      "uil-phone-pause",
      "uil-phone-slash",
      "uil-phone-times",
      "uil-phone-volume",
      "uil-picture",
      "uil-pizza-slice",
      "uil-plane",
      "uil-plane-arrival",
      "uil-plane-departure",
      "uil-plane-fly",
      "uil-play",
      "uil-play-circle",
      "uil-plug",
      "uil-plus",
      "uil-plus-circle",
      "uil-plus-square",
      "uil-podium",
      "uil-polygon",
      "uil-post-stamp",
      "uil-postcard",
      "uil-pound",
      "uil-pound-circle",
      "uil-power",
      "uil-prescription-bottle",
      "uil-presentation",
      "uil-presentation-check",
      "uil-presentation-edit",
      "uil-presentation-line",
      "uil-presentation-lines-alt",
      "uil-presentation-minus",
      "uil-presentation-play",
      "uil-presentation-plus",
      "uil-presentation-times",
      "uil-previous",
      "uil-pricetag-alt",
      "uil-print",
      "uil-print-slash",
      "uil-process",
      "uil-processor",
      "uil-programming-language",
      "uil-pump",
      "uil-puzzle-piece",
      "uil-qrcode-scan",
      "uil-question",
      "uil-question-circle",
      "uil-rainbow",
      "uil-raindrops",
      "uil-raindrops-alt",
      "uil-react",
      "uil-receipt",
      "uil-receipt-alt",
      "uil-record-audio",
      "uil-reddit-alien-alt",
      "uil-redo",
      "uil-refresh",
      "uil-registered",
      "uil-repeat",
      "uil-restaurant",
      "uil-right-indent-alt",
      "uil-right-to-left-text-direction",
      "uil-robot",
      "uil-rocket",
      "uil-rope-way",
      "uil-rotate-360",
      "uil-rss",
      "uil-rss-alt",
      "uil-rss-interface",
      "uil-ruler",
      "uil-ruler-combined",
      "uil-rupee-sign",
      "uil-sad",
      "uil-sad-cry",
      "uil-sad-crying",
      "uil-sad-dizzy",
      "uil-sad-squint",
      "uil-sanitizer",
      "uil-sanitizer-alt",
      "uil-save",
      "uil-scaling-left",
      "uil-scaling-right",
      "uil-scenery",
      "uil-schedule",
      "uil-screw",
      "uil-scroll",
      "uil-scroll-h",
      "uil-search",
      "uil-search-alt",
      "uil-search-minus",
      "uil-search-plus",
      "uil-selfie",
      "uil-server",
      "uil-server-alt",
      "uil-server-connection",
      "uil-server-network",
      "uil-server-network-alt",
      "uil-servers",
      "uil-servicemark",
      "uil-setting",
      "uil-share",
      "uil-share-alt",
      "uil-shield",
      "uil-shield-check",
      "uil-shield-exclamation",
      "uil-shield-plus",
      "uil-shield-question",
      "uil-shield-slash",
      "uil-ship",
      "uil-shop",
      "uil-shopping-bag",
      "uil-shopping-basket",
      "uil-shopping-cart",
      "uil-shopping-cart-alt",
      "uil-shovel",
      "uil-shrink",
      "uil-shuffle",
      "uil-shutter",
      "uil-shutter-alt",
      "uil-sick",
      "uil-sigma",
      "uil-sign-alt",
      "uil-sign-in-alt",
      "uil-sign-left",
      "uil-sign-out-alt",
      "uil-sign-right",
      "uil-signal",
      "uil-signal-alt",
      "uil-signal-alt-3",
      "uil-signin",
      "uil-signout",
      "uil-silence",
      "uil-silent-squint",
      "uil-sim-card",
      "uil-sitemap",
      "uil-skip-forward",
      "uil-skip-forward-alt",
      "uil-skip-forward-circle",
      "uil-skype",
      "uil-skype-alt",
      "uil-slack",
      "uil-slack-alt",
      "uil-slider-h",
      "uil-slider-h-range",
      "uil-sliders-v",
      "uil-sliders-v-alt",
      "uil-smile",
      "uil-smile-beam",
      "uil-smile-dizzy",
      "uil-smile-squint-wink",
      "uil-smile-squint-wink-alt",
      "uil-smile-wink",
      "uil-smile-wink-alt",
      "uil-snapchat-alt",
      "uil-snapchat-ghost",
      "uil-snapchat-square",
      "uil-snow-flake",
      "uil-snowflake",
      "uil-snowflake-alt",
      "uil-social-distancing",
      "uil-sort",
      "uil-sort-amount-down",
      "uil-sort-amount-up",
      "uil-sorting",
      "uil-space-key",
      "uil-spade",
      "uil-sperms",
      "uil-spin",
      "uil-spinner",
      "uil-spinner-alt",
      "uil-square",
      "uil-square-full",
      "uil-square-shape",
      "uil-squint",
      "uil-star",
      "uil-star-half-alt",
      "uil-step-backward",
      "uil-step-backward-alt",
      "uil-step-backward-circle",
      "uil-step-forward",
      "uil-stethoscope",
      "uil-stethoscope-alt",
      "uil-stop-circle",
      "uil-stopwatch",
      "uil-stopwatch-slash",
      "uil-store",
      "uil-store-alt",
      "uil-store-slash",
      "uil-streering",
      "uil-stretcher",
      "uil-subject",
      "uil-subway",
      "uil-subway-alt",
      "uil-suitcase",
      "uil-suitcase-alt",
      "uil-sun",
      "uil-sunset",
      "uil-surprise",
      "uil-swatchbook",
      "uil-swiggy",
      "uil-swimmer",
      "uil-sync",
      "uil-sync-exclamation",
      "uil-sync-slash",
      "uil-syringe",
      "uil-table",
      "uil-table-tennis",
      "uil-tablet",
      "uil-tablets",
      "uil-tachometer-fast",
      "uil-tachometer-fast-alt",
      "uil-tag",
      "uil-tag-alt",
      "uil-tape",
      "uil-taxi",
      "uil-tear",
      "uil-telegram",
      "uil-telegram-alt",
      "uil-telescope",
      "uil-temperature",
      "uil-temperature-empty",
      "uil-temperature-half",
      "uil-temperature-minus",
      "uil-temperature-plus",
      "uil-temperature-quarter",
      "uil-temperature-three-quarter",
      "uil-tennis-ball",
      "uil-text",
      "uil-text-fields",
      "uil-text-size",
      "uil-text-strike-through",
      "uil-th",
      "uil-th-large",
      "uil-th-slash",
      "uil-thermometer",
      "uil-thumbs-down",
      "uil-thumbs-up",
      "uil-thunderstorm",
      "uil-thunderstorm-moon",
      "uil-thunderstorm-sun",
      "uil-ticket",
      "uil-times",
      "uil-times-circle",
      "uil-times-square",
      "uil-toggle-off",
      "uil-toggle-on",
      "uil-toilet-paper",
      "uil-top-arrow-from-top",
      "uil-top-arrow-to-top",
      "uil-tornado",
      "uil-trademark",
      "uil-trademark-circle",
      "uil-traffic-barrier",
      "uil-traffic-light",
      "uil-transaction",
      "uil-trash",
      "uil-trash-alt",
      "uil-trees",
      "uil-triangle",
      "uil-trophy",
      "uil-trowel",
      "uil-truck",
      "uil-truck-loading",
      "uil-tumblr",
      "uil-tumblr-alt",
      "uil-tumblr-square",
      "uil-tv-retro",
      "uil-tv-retro-slash",
      "uil-twitter",
      "uil-twitter-alt",
      "uil-umbrella",
      "uil-unamused",
      "uil-underline",
      "uil-university",
      "uil-unlock",
      "uil-unlock-alt",
      "uil-upload",
      "uil-upload-alt",
      "uil-usd-circle",
      "uil-usd-square",
      "uil-user",
      "uil-user-arrows",
      "uil-user-check",
      "uil-user-circle",
      "uil-user-exclamation",
      "uil-user-location",
      "uil-user-md",
      "uil-user-minus",
      "uil-user-nurse",
      "uil-user-plus",
      "uil-user-square",
      "uil-user-times",
      "uil-users-alt",
      "uil-utensils",
      "uil-utensils-alt",
      "uil-vector-square",
      "uil-vector-square-alt",
      "uil-venus",
      "uil-vertical-align-bottom",
      "uil-vertical-align-center",
      "uil-vertical-align-top",
      "uil-vertical-distribute-bottom",
      "uil-vertical-distribution-center",
      "uil-vertical-distribution-top",
      "uil-video",
      "uil-video-question",
      "uil-video-slash",
      "uil-virus-slash",
      "uil-visual-studio",
      "uil-vk",
      "uil-vk-alt",
      "uil-voicemail",
      "uil-voicemail-rectangle",
      "uil-volleyball",
      "uil-volume",
      "uil-volume-down",
      "uil-volume-mute",
      "uil-volume-off",
      "uil-volume-up",
      "uil-vuejs",
      "uil-vuejs-alt",
      "uil-wall",
      "uil-wallet",
      "uil-watch",
      "uil-watch-alt",
      "uil-water",
      "uil-water-drop-slash",
      "uil-water-glass",
      "uil-web-grid",
      "uil-web-grid-alt",
      "uil-web-section",
      "uil-web-section-alt",
      "uil-webcam",
      "uil-weight",
      "uil-whatsapp",
      "uil-whatsapp-alt",
      "uil-wheel-barrow",
      "uil-wheelchair",
      "uil-wheelchair-alt",
      "uil-wifi",
      "uil-wifi-router",
      "uil-wifi-slash",
      "uil-wind",
      "uil-wind-moon",
      "uil-wind-sun",
      "uil-window",
      "uil-window-grid",
      "uil-window-maximize",
      "uil-window-section",
      "uil-windows",
      "uil-windsock",
      "uil-windy",
      "uil-wordpress",
      "uil-wordpress-simple",
      "uil-wrap-text",
      "uil-wrench",
      "uil-x",
      "uil-x-add",
      "uil-yen",
      "uil-yen-circle",
      "uil-yin-yang",
      "uil-youtube",
      "uil-airplay"
    ]

block component

  +ComponentCard({
    title: 'Example',
    anchor: true,
    hideCopyCode: true,
    description: 'You can use these icons with color and font-size helper classes like the example below:'
  }).my-5
    span.text-danger.uil(class='uil-bell fs-6')

  .card.border.border-300.mb-3(data-list!={valueNames: ['icon-list-item']})
    +IconListHeader
    .card-body
      .row.list#icon-list
        each value, index in icons
          +IconCard(value)
            span.text-900.fs-3.uil(class=value)


  
