mixin IssueChart
  .row.g-3.mb-3
    .col-12.col-md-6
      h3.text-1100.text-nowrap Issues Discovered
      p.text-700.mb-md-7 Newly found and yet to be solved

      .d-flex.align-items-center.justify-content-between
        p.mb-0.fw-bold Issue type 
        p.mb-0.fs--1 Total count 
          span.fw-bold 257
      hr.bg-200.mb-2.mt-2

      .d-flex.align-items-center.mb-1
        span.d-inline-block.bg-info-300.bullet-item.me-2
        p.mb-0.fw-semi-bold.text-900.lh-sm.flex-1 Product design
        h5.mb-0.text-900 78
      .d-flex.align-items-center.mb-1
        span.d-inline-block.bg-warning-300.bullet-item.me-2
        p.mb-0.fw-semi-bold.text-900.lh-sm.flex-1 Development
        h5.mb-0.text-900 63
      .d-flex.align-items-center.mb-1
        span.d-inline-block.bg-danger-300.bullet-item.me-2
        p.mb-0.fw-semi-bold.text-900.lh-sm.flex-1 QA &amp; Testing
        h5.mb-0.text-900 56
      .d-flex.align-items-center.mb-1
        span.d-inline-block.bg-success-300.bullet-item.me-2
        p.mb-0.fw-semi-bold.text-900.lh-sm.flex-1 Customer queries
        h5.mb-0.text-900 36
      .d-flex.align-items-center
        span.d-inline-block.bg-primary.bullet-item.me-2
        p.mb-0.fw-semi-bold.text-900.lh-sm.flex-1 R &amp; D
        h5.mb-0.text-900 24

      button.btn.btn-outline-primary.mt-5
        |See Details
        span.fas.fa-angle-right.ms-2.fs--2.text-center
    .col-12.col-md-6
      .position-relative.mb-sm-4.mb-xl-0
        .echart-issue-chart(style='min-height:390px;width:100%')