include Mixins
include ../common/Avatar

mixin NavbarTop(config)
  nav.navbar.navbar-top#navbarTop&attributes(attributes) 
    +NavbarLogo(config.toggleID)
    .collapse.navbar-collapse.navbar-top-collapse.order-1.order-lg-0.justify-content-center(id=config.navbarCollapseID ? config.navbarCollapseID : config.toggleID)
      +navbarTopMenus
    +NavbarIcons({search:true})

mixin NavbarTopSlim(config)
  nav.navbar.navbar-top.navbar-slim.justify-content-between#navbarTopSlim&attributes(attributes)
    +NavbarLogoSlim(config.toggleID)
    #navbarTopCollapse.collapse.navbar-collapse.navbar-top-collapse.order-1.order-lg-0.justify-content-center
      +navbarTopMenus
    +NavbarIconsSlim
