include Mixins
include ../common/Avatar

mixin TopNav(config)
  nav.navbar.navbar-top#navbarDefault&attributes(attributes)

    .collapse.navbar-collapse.justify-content-between
      +NavbarLogo(config.toggleID)
      +NavbarSearch
      if config.links || config.simpleNav
        div(id=config.navbarCollapseID ? config.navbarCollapseID : config.toggleID).collapse.navbar-collapse.scrollbar
          if config.links
            +NewTopNav({combo:false})
          else
            +NewTopNav({combo:true})
      +NavbarIcons
  //- nav.navbar.navbar-top#navbarTop&attributes(attributes) 
    +NavbarLogo(config.toggleID)
    .collapse.navbar-collapse.navbar-top-collapse.order-1.order-lg-0.justify-content-center(id=config.navbarCollapseID ? config.navbarCollapseID : config.toggleID)
      +navbarTopMenus({combo:false})
    +NavbarIcons({search:true})
      
mixin TopNavSlim(config)
  nav.navbar.navbar-top.navbar-slim#topNavSlim&attributes(attributes)
    .collapse.navbar-collapse.justify-content-between
      +NavbarLogoSlim(config.toggleID)
      +NavbarIconsSlim
      